div {
	width: 100px;
	height: 100px;
	border: 1px solid red;
	display: inline-block;
	margin-left: 10px;
}
/* Выстройте эти дивы в ряд, преобразовав их в строчно-блочные элементы. */


/* Строчно-блочные элементы сочетают особенности блочных и строчных элементов. */


/* Вы пока знаете только один такой тег: img. Картинки, однако, не раскрывают все особенности этой модели, поэтому работу таких элементов посмотрим на примере тегов span, сменив им блочную модель, задав свойству display значение inline-block. */