/* Кроме изученных нами типов блочных моделей есть еще одна - флекс элементы. Для того, чтобы получить такие элементы, нужно родителю этих элементов написать свойство display в значении flex. Сам родитель останется блочным элементом, а вот его потомки станут флекс элементами.

Флекс элементы, подобно блочным могут иметь ширину и высоту, margin и padding. Однако, в отличие от блочных, по умолчанию флекс элементы выстраиваются в ряд внутри своего родителя. */

/* 
.parent {
	display: flex; сделал потомки флекс элементами
	width: 800px;
	height: 300px;
	border: 1px solid red;
	margin: 20px auto; отступил 20рх сверху и снизу, и задал справа и слево auto
}
.child {
	width: 100px;
	height: 50px;
	border: 1px solid green;
} */

/* 									Высота родителя
Если родителю флекс элементов не задана высота, то по высоте он будет растягиваться своим содержимым, то есть высотой потомков: */

/* .parent {
	display: flex; сделал потомки флекс элементами
	margin: 20px auto;
	width: 500px;
	border: 1px solid red;
}
.child {
	width: 50px;
	height: 50px;
	border: 1px solid green;
} */


/* 									Ширина родителя
Если родителю флекс элементов не задана ширина, то по ширине он займет все доступное место: */


/* .parent	{
	display: flex; сделал потомки флекс элементами
	border: 1px solid red;
	margin: 10px auto;
}
.child {
	width: 100px;
	height: 50px;
	border: 1px solid green;
} */

/* 							Строчно-блочный родитель
Вместо значения flex для свойства display родителю можно поставить значение inline-flex. В этом случае этот родитель будет вести себя, как строчно-блочный элемент.

Например, если не задать ширину родителя, то его ширина сформируется шириной потомков: */

/* .parent	{
	display: inline-flex;
	border: 1px solid red;
}
.child {
	width: 120px;
	height: 60px;
	border: 1px solid green;
} */

					/* 					Отступы padding родителя
					Родителю можно задать отступы padding: */	


/* .parent	{
	width: 750px;
	display: inline-flex; задал родителю вести себя как строчно-блочный элемент
	padding: 20px;
	border: 1px solid red;
}
.child {
	width: 120px;
	height: 60px;
	border: 1px solid green;
}					 */


									/* Отступы margin потомкам
									Флекс элементам можно задать отступы margin: */
/* .parent	{
	display: inline-flex; дал родителю строчно-блочный элемент
	border: 1px solid red;
}
.child { задал флекс элементу margin 
	margin: 20px;
	width: 120px;
	height: 60px;
	border: 1px solid green;
} */

