				/* Определите, к какой блочной модели относятся теги p. */


p{
	border: 1px solid green;
}				

		/* Определите, к какой блочной модели относятся теги b. */

b{
	border: 1px solid green;
}
		
		/* Определите, к какой блочной модели относятся теги h2. */

h2{
	border: 1px solid green;
}		

		/* Определите, к какой блочной модели относятся теги h3. */

h3{
	border: 1px solid green;
}

		/* Определите, к какой блочной модели относятся теги i. */

i{
	border: 1px solid green;
}

		/* Определите, к какой блочной модели относятся теги a. */


a{
	border: 1px solid green;
}		