/* #elem{
	width: 300px;
	padding: 10px 10px 30px 30px;
	border: 1px solid green;
	text-align: justify;

} */

/* #elem{
	width: 300px;
	padding: 50px 25px;
	border: 1px solid green;
	text-align: justify;
} */
/* 
#elem{
	width: 300px;
	padding: 10px 25px 40px;
	border: 1px solid green;
	text-align: justify;
} */